$opponentCardWidth: 120px;
$userCardWidth: 190px;
$deckWidth: 80px;
$cardMarginBottom: 50px;
$fontFamily: 'Hanalei Fill';
$boxShadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);

$MobileOpponentCardWidth: 90px;
$MobileUserCardWidth: 150px;
$MobileDeckWidth: 50px;
$MobileCardMarginBottom: 20px;